@media screen and (min-width: 560px){
	
	#gallery li{
		width: 28.3333%;
	}
	#gallery li:nth-child(4n){
		clear: both;
	}
	.basic{
		padding: 0 10%;
		/*border: 1px solid black;*/
	}
	.profile-photo{
		margin-top: 3%;
		float: right;
		/*border: 5px solid green;*/
	}
}
@media screen and (max-width: 560px ){
	#gallery li:nth-child(2n+1){
		clear: left;
	}
}

@media screen and (min-width: 660px){
	.foo{
	}
	.wrapper{
	max-width: 1200px;
	margin-top: 90px;
	padding-right: 10%;
	padding-left: 10%;
	clear: both;
	}
	header{
		display: flex;
		padding-top: 0.5%;
		/*height: 59px;*/
	}
	header a{
		flex:1;
	}
	nav{
		display: block;
		background-color: #0d3d69;
		font-size: 1.125em;
		text-align: right;
		flex:6;
	}
	.logo{
		width: 45%;
		text-align: left;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.1em;
	}
	nav a:hover{
	background-color: white;
	/*border-radius: 10%;*/
	}
	/*********basic***********/
	#ability-table{
		display: flex;
	}
	/***********contact***********/
	#contact-div{
		display: flex;
		min-height: 480px;
		margin-top:15%;
	}
	#primary{
		flex: 1;
		margin-top: 1%;
		text-align: center;
	}
	#primary div{
		width: 100%;
	}
	#primary img{
		width: 60%;
	}
	#secondary li{
		width: 50%;
	}
	#secondary div{
		display: flex; 
		width: 100%;
		text-align: center;
	}
	#secondary{
		flex: 1;
		margin-top: 0;
	}
	/***********activity***********/
	.activity-experience{
		/*padding: 0 auto;*/
		width: 80%;
		/*border: 1px solid red;*/
		margin: 0 auto;
	}
	.activity-picture img{
		width: 45%;
		margin:2%;
	}
	#video>iframe{
		width:560px; 
		height:315px;
	}
}